player-connection-mode=Listen
player-connection-guid=1190197377
player-connection-debug=0
player-connection-project-name=Pixel
player-connection-ip=129.113.116.162
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=6aa90f10afa04832a6adc61ca7da9ce1
