player-connection-mode=Listen
player-connection-guid=3138001767
player-connection-debug=1
player-connection-project-name=Pixel
player-connection-ip=129.113.116.28
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=f84dad322a5247adb2e831fdd5ef9324
